---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="¿QUIÉN SOY?">
    <p class="text-justify font-sans text-black">
      ¡Bienvenido a mi blog de noticias y recursos de programación! Este espacio está diseñado para mantenerte al tanto
      de las últimas novedades en el mundo de la programación y proporcionarte recursos valiosos para mejorar tus
      habilidades técnicas.
    </p>

    <p class="text-justify font-sans text-black">
      Como Analista de IT y Desarrollador de Software con más de 8 años de experiencia en la industria tech, mi objetivo
      principal es compartir mi conocimiento y experiencia contigo. A lo largo de mi carrera, he desarrollado
      experiencias interactivas tanto en plataformas web como en aplicaciones móviles, he trabajado en diversos aspectos
      de la tecnología de la información, desde programación, redes y telecomunicaciones.
    </p>

    <p class="text-justify font-sans text-black">
      En mi tiempo libre, participo en comunidades de tecnología. También comparto recursos de programación y noticias
      de tecnología en mi perfil de LinkedIn. Espero que encuentres este blog informativo y útil en tu viaje de
      desarrollo y programación.
    </p>
  </Page>
</Base>
