<div class="max-w-sm rounded-lg bg-gray-50 shadow-md">
    <img
      class="rounded-t-lg"
      src="https://previews.dropbox.com/p/thumb/ACD8U5DSsoeCirrMW7BqsZDbUrVRiRVflr3Y9sfP85No5pTa4B3akbdRgdTJRHjJ2xzMjZo-6zHq1jiB23dGpTrQrbnEu3mFWVGK9aid-bY4PktX3xuVTG-z8aywW9P2HY9EFhumhlUWKRQqwz2KzDUabiKCs86kVReT7oA6GRJmqpYg0RPT8KxQm3KmWgonabCS6S-ft7-sVKuR82Bmva03gEjs6sZcL8eoB0w6RFRmyV9gveYhx-N4Q4W-mrxw4W2Km15rUpgKsGZ1FTruBfW8SMQy9uPVe7f2O6fXMN9NdIPKuii34fLrAh4B6p-HZwTr5Z1A-MLve7MwvjHYm7Ju/p.png"
      alt="imagenrecurso"
    />
  <div class="p-5">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white dark:text-white">
        ¿Necesitas componentes para construir tus proyectos de React?
      </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-500">
      Aquí tienes estas 5 bibliotecas open source de componentes.
    </p>
    <a
      href="https://www.linkedin.com/posts/elder-sarmiento_necesitas-componentes-para-construir-tus-activity-7112903745352392704-GmaM?utm_source=share&utm_medium=member_desktop"
      target="_blank"
      class="inline-flex items-center rounded-lg bg-blue-700 px-3 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Ver en linkedIn
      <svg
        class="ml-2 h-3.5 w-3.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
  </div>
</div>
