<div class="max-w-sm border-2 border-black bg-cyan-200">
  <img
    class="border-b-2 border-black"
    src="https://github.com/esarmiem/imgrepo/blob/master/androidcard.png?raw=true"
    alt="imagenrecurso"
  />
  <div class="p-5">
    <h5 class="mb-2 text-2xl font-bold tracking-tight">¿Aprendiendo desarrollo de aplicaciones en Android?</h5>
    <p class="mb-3 font-normal text-black">4 canales de YouTube que te llevarán a dominar Kotlin y Jetpack Compose.</p>
    <a
      class="group relative inline-block text-sm font-medium text-black focus:outline-none focus:ring active:text-black"
      href="https://www.linkedin.com/posts/elder-sarmiento_te-has-interesado-por-el-desarrollo-de-aplicaciones-activity-7114688616374665216-7xo-?utm_source=share&utm_medium=member_desktop"
      target="_blank"
    >
      <span
        class="absolute inset-0 translate-x-0.5 translate-y-0.5 bg-black transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
      ></span>

      <span class="relative block border border-current bg-white px-8 py-3"> Ver en linkedIn →</span>
    </a>
  </div>
</div>
