<div class="max-w-sm border-2 border-black bg-lime-200 grid grid-cols-1">
  <img
    class="border-b-2 border-black"
    src="https://github.com/esarmiem/imgrepo/blob/master/jscard.png?raw=true"
    alt="imagenrecurso"
  />
  <div class="p-5 grid grid-cols-1">
    <h5 class="mb-2 text-xl font-bold font-sans tracking-tight col-span-1">¿Buscando donde aprender JavaScript?</h5>
    <p class="mb-3 font-normal text-black font-sans col-span-1">
      Aquí tienes 4 sitios en español y gratuitos, para aprender o mejorar tus habilidades en JavaScript.
    </p>
    <a
      class="group relative inline-block text-sm font-medium text-black border-black border font-sans focus:outline-none focus:ring active:text-black col-span-1 w-3/4"
      href="https://www.linkedin.com/posts/elder-sarmiento_llega-el-fin-de-semana-si-tienes-ganas-de-activity-7114050360129769472-BRJI?utm_source=share&utm_medium=member_desktop"
      target="_blank"
    >
      <span
        class="absolute inset-0 translate-x-1 translate-y-1 bg-black transition-transform group-hover:translate-x-0 group-hover:translate-y-0"
      ></span>
      <span class="relative block border border-current bg-white px-8 py-3"> Ver en linkedIn →</span>
    </a>
  </div>
</div>
