---
import FirstCard from '../components/linkedin/FirstCard.astro';
import SecondCard from '../components/linkedin/SecondCard.astro';
import ThirdCard from '../components/linkedin/ThirdCard.astro';
---

<div class="border-t-2 border-black bg-violet-200">
  <section class="mx-auto max-w-screen-lg bg-violet-200 px-4 pb-12 pt-12 sm:px-6 lg:px-8">
    <div class="flex items-center space-x-2">
      <h3
        class="mb-4 mt-3 font-bold font-sans text-2xl leading-6 text-black group-hover:text-black md:text-2xl xl:text-3xl"
      >
        Recursos destacados
      </h3>
    </div>
    <div class="mx-auto grid grid-cols-1 gap-x-4 gap-y-4 md:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <FirstCard />
      <SecondCard />
      <ThirdCard />
    </div>
    <div class="flex items-center justify-center text-center">
      <a href="https://www.paypal.com/donate?hosted_button_id=3CES4BLNZF2DA" target="_blank">
        <img
          class="mt-8 w-60 border-2 border-black transition duration-300 ease-in-out hover:scale-110"
          src="/donate.webp"
          title="PayPal - The safer, easier way to pay online!"
          alt="Donate with PayPal button"
        />
      </a>
    </div>
  </section>
</div>
