---
import FirstCard from "../components/linkedin/FirstCard.astro";
import SecondCard from "../components/linkedin/SecondCard.astro";
import ThirdCard from "../components/linkedin/ThirdCard.astro";
---


<section class="mx-auto max-w-screen-lg px-4 pb-12 sm:px-6 lg:px-8">
  <h3 class="mb-4 mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600 md:text-2xl">
    Ultimos 3 post en linkedIn
  </h3>
  <div class="mx-auto grid grid-cols-1 gap-x-4 gap-y-4 text-white md:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
    <FirstCard/>
    <SecondCard/>
    <ThirdCard/>
  </div>
</section>
