---
import config from '@config/config.json';
import HeartIcon from '@components/icons/HeartIcon.astro';
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8 bg-black">
  <div class="border-t-2 border-black">
    <p class="mb-8 mt-8 text-center text-xs/relaxed text-white font-bold">
      &copy; {year}. {config.site.title}
      <span class="mt-2 block">
        Hecho con
        <HeartIcon />
         en Colombia. by
        <a
          href="https://esarmiem-links.com/"
          class="text-yellow-200 decoration-dashed transition hover:text-blue-200"
          target="_blank">EsarmiemDev</a
        >
      </span>
    </p>
  </div>
</footer>
