---
import RightArrowIcon from '@components/icons/RightArrowIcon.astro';
---

<div class="m-auto mt-12 text-right">
  <a
  class="group relative inline-block focus:outline-none focus:ring"
  href="/blog"
>
  <span
    class="absolute inset-0 translate-x-1.5 translate-y-1.5 bg-yellow-100 transition-transform group-hover:translate-y-0 group-hover:translate-x-0"
  ></span>

  <span
    class="relative inline-block border-2 border-current px-8 py-3 text-sm font-bold uppercase tracking-widest text-black group-active:text-opacity-75"
  >
  Todos los Posts
  <RightArrowIcon />
  </span>
</a>
</div>





