---
import NextIcon from "@icons/NextIcon.astro";
import PrevIcon from "@icons/PrevIcon.astro";

const { length, currentPage, firstUrl, prevUrl, nextUrl } = Astro.props;
const paginationList = Array.from({ length }, (_, i) => i + 1);
---

<nav class="mt-12">
  <ol class="flex justify-center gap-3 text-xs font-medium">
    {
      prevUrl ? (
        <li>
          <a
            href={prevUrl}
            class="inline-flex h-8 w-8 items-center justify-center border border-black  text-black rtl:rotate-180"
          >
            <span class="sr-only">Prev Page</span>
            <PrevIcon />
          </a>
        </li>
      ) : null
    }
    {
      paginationList?.map((num) => (
        <a
          href={`${firstUrl}${num == 1 ? "" : "" + num}`}
          class={`block h-8 w-8 border border-black text-center leading-8 text-black ${
            currentPage == num
              ? "border-2 bg-white text-black"
              : ""
          }`}
        >
          {num}
        </a>
      ))
    }
    {
      nextUrl ? (
        <li>
          <a
            href={nextUrl}
            class="inline-flex h-8 w-8 items-center justify-center border border-black bg-white text-black rtl:rotate-180"
          >
            <span class="sr-only">Next Page</span>
            <NextIcon />
          </a>
        </li>
      ) : null
    }
  </ol>
</nav>
